<!--

<div *ngFor="let index of ciclosRandom">
  <p>{{ ciclos[index]?.nombre }}</p>
  <p>{{ ciclos[index]?.descripcion }}</p>
  <p>{{ ciclos[index]?.peliculas?.[0]?.image }}</p>

</div>

-->

<div class="accordion-container">
  <h3>Ciclos que te pueden interesar...</h3>

  <div class="accordion shadow-lg">
    <ul *ngFor="let index of ciclosRandom">
      <li>
        <div class="image_title">
          <p>{{ ciclos[index]?.nombre | uppercase }}
            <br>
            <small>{{ ciclos[index]?.descripcion }}</small>
          </p>
        </div>

        <img [src]="ciclos[index]?.peliculas?.[0]?.image" alt="{{ ciclos[index]?.nombre }}" border="0" (click)="goTo(ciclos[index]?._id || '')">

      </li>
    </ul>
  </div>
</div>
