<div class="accordion-container">
  <h2 class="bladeRunner">TOP 5 Ciclos...</h2>

  <div class="accordion shadow-lg">
    <ul *ngFor="let ciclo of ciclos">
      <li>
        <div class="image_title">
          <p>{{ ciclo.nombre | uppercase }}
            <br>
            <small>{{ ciclo.descripcion }}</small>
          </p>
        </div>

        <img [src]="ciclo.peliculas?.[0]?.image" alt="{{ ciclo?.nombre }}" border="0" (click)="goTo(ciclo?._id || '')">

      </li>
    </ul>
  </div>
</div>
