

<div class="container">
  <div class="row">
    <div class="col">
      <button class="btn btn-danger">
        ¿Qué ver?
      </button>
    </div>
    <div class="col">
      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" checked>
          Western
        </label>
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" checked>
          Terror
        </label>
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" checked>
          Dramah
        </label>
      </div>
    </div>
  </div>

  <div class="row">
    FICHA DE CICLO
  </div>
</div>
