<p>new-ciclo-page works!</p>

<form class="crear-ciclo">
<mat-form-field appearance="fill" class="col-12">
  <mat-label>Nombre del ciclo</mat-label>
  <input matInput>
</mat-form-field>

<mat-form-field appearance="fill" class="col-12">
  <mat-label>Descripción</mat-label>
  <textarea matInput></textarea>
</mat-form-field>

<mat-form-field appearance="fill" class="col-12">
  <mat-label>Añadir películas</mat-label>
  <input matInput>
</mat-form-field>

<!-- mostrar películas encontradas, botón añadir y se guardarán-->

<button mat-raised-button color="primary">Crear</button>

</form>


<ul>
  <li>1. Formulario con la info del ciclo</li>
  <li>2. Busqueda lanzada a imdb (hacer un shared-component) </li>
  <li>3. Resultados de la busqueda</li>
  <li>4. Seleccion de las peliculas</li>
  <li>5. Guardar ciclo</li>


</ul>
