<div class="container mb-3">
  <div class="col-md-12 d-flex justify-content-end">
    <button class="btn" type="button" (click)="goBack()">
      <strong>VOLVER</strong>
      <div id="container-stars">
        <div id="stars"></div>
      </div>

      <div id="glow">
        <div class="circle"></div>
        <div class="circle"></div>
      </div>
    </button>
  </div>
</div>

<div class="info container p-3">
  <div class="row d-flex align-items-center">
    <div class="col-6">
      <h2>{{ ciclo?.nombre | titlecase }}</h2>
    </div>
    <div class="col-6 d-flex justify-content-end">
      <button (click)="like()" class="custom-button">
        <ng-container *ngIf="isLiked">
          <i class="fa-solid fa-minus"></i>
        </ng-container>
        <ng-container *ngIf="!isLiked">
          <i class="fa-solid fa-plus"></i>
        </ng-container>
      </button>
    </div>

  </div>
  <div class="row" *ngIf="ciclo">

    <div class="row mt-2 mb-3">
      <div class="col-lg-3 col-md-4 col-sm-6 mt-3 mb-2" *ngFor="let pelicula of ciclo.peliculas">
        <div class="myCard">
          <div class="innerCard">
            <div class="frontSide">
              <img src="{{ pelicula.image }}" alt="">
            </div>
            <div class="backSide">
              <p class="title">{{ pelicula.title| titlecase }}</p>
              <p>{{ pelicula.descripcion | titlecase }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div>
      <h4>Descripción</h4>
      <div class="container p-2">
        <p>{{ ciclo?.descripcion }}</p>
      </div>

    </div>

  </div>
</div>
