<div class="container mb-3">
  <div class="col-md-12 d-flex justify-content-end">
    <button class="boton" type="button" (click)="goBack()">
      <span>
        VOLVER
      </span>
    </button>
  </div>
</div>

<div class="info container p-3">
  <div class="row d-flex align-items-center">
    <div class="col-6">
      <h2>{{ ciclo?.nombre | titlecase }}</h2>
    </div>
    <div class="col-6 d-flex justify-content-end">
      <button (click)="like()" class="custom-button">
        <ng-container *ngIf="isLiked">
          <i class="fa-solid fa-minus"></i>
        </ng-container>
        <ng-container *ngIf="!isLiked">
          <i class="fa-solid fa-plus"></i>
        </ng-container>
      </button>
    </div>
  </div>

  <div class="row" *ngIf="ciclo">
    <div class="row mt-2 mb-3">
      <div class="col-lg-3 col-md-4 col-sm-6 mt-3 mb-2" *ngFor="let pelicula of ciclo.peliculas">
        <div class="myCard" (click)="pelicula?.idExterno && goMovie(pelicula.idExterno)">
          <div class="innerCard">
            <div class="frontSide">
              <img src="{{ pelicula.image }}" alt="" (error)="imageError($event)">
            </div>
            <div class="backSide">
              <p class="title">{{ pelicula.title | titlecase }}</p>
              <p>{{ pelicula.descripcion | titlecase }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div>
      <h4>Descripción</h4>
      <div class="container p-2">
        <p>{{ ciclo?.descripcion }}</p>
      </div>
    </div>
  </div>
</div>


<div class="comentarios container p-3 mt-3" *ngIf="getToken() !== null">
  <h3>Comentarios: </h3>

  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <form id="comment-form" class="text-center" (submit)="enviarComentario()">
          <div class="form-group">
            <textarea id="comment" name="comment" class="form-control" [(ngModel)]="comentario" required></textarea>
          </div>

          <button class="boton mt-3" type="submit">
            <span>
              ENVIAR
            </span>
          </button>
        </form>

      </div>
    </div>
  </div>

  <div class="container comentarios mt-2 p-3 text-white" *ngFor="let comentario of ciclo?.comentarios">
    <div class="row d-flex justify-content-between">
      <div class="col-md-11 align-self-start">
        {{ comentario?.usuario | uppercase }} :
      </div>
      <div class="col-md-1 align-items-end" *ngIf="getAdmin() === 'true' || comentario?.id === getId()">
        <button class="btn btn-danger" (click)="borrarComentario(comentario?._id!)">x</button>
      </div>

    </div>
    <div class="row p-2">
      <div class="p-2">
        {{ comentario?.comentario }}
      </div>
    </div>
  </div>



</div>
